* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  &:focus {
    outline: none;
  }
}

::selection {
  background-color: $secondary;
  color: $textInverted;
}


body, html {
  font-family: $font;
  font-size: 15px;
  color: $text;
  background-color: $bg;
}

a {
  color: $text;
  outline: none;
}

strong, b {
  font-weight: 600;
}

h1, h2, h3, h4 {
  color: $textDark;
  font-weight: 600;
  span {
    font-weight: 600;
  }
}

h2 {
  margin-bottom: $spacing * 2;
}

.table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    text-align: left;
    padding: $spacing * 2 $spacing;
  }

  th {
    font-weight: 600;
    color: $textDark;
    font-size: 1.1rem;
    border-bottom: 1px solid $border;
  }

  tbody tr {
    border-bottom: 1px solid $borderLight;
    &:last-child {
      border-bottom: none;
    }
  }

}


.segment {
  width: 100%;
  background-color: $bgCard;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  padding: $spacing * 2;
  border-radius: $borderRadius;
  margin: $spacing * 2 0;
}

.text-link {
  color: inherit;
  border-bottom: 1px dashed;
  @include transition(all);

  &:hover {
    color: $primary;
  }
}

.text-success {
  color: $success;
}

.text-error {
  color: $error;
}

hr {
  border-top: 1px solid $border;
  margin-top: $spacing;
  margin-bottom: $spacing;
}

.text-light {
  color: $textLight;
}