$font: "Muli", sans-serif;

$spacing: 8px;
$borderRadius: 4px;

$buttonLineHeight: 22px;
$buttonPaddingY: 9px;
$buttonPaddingX: 19px;

// PALETTE

$text: #727272;
$textDark: #535353;
$textLight: #a3a3a3;
$textInverted: #f8f8f8;

$primary:#288b6a;
$secondary: #3a5064;
$success:#306d4b;
$error: #aa2828;

$bg: #f8f8f8;
$bgCard: #ffffff;
$bgDark: #222222;

$border: #e0e0e0;
$borderLight: #f0f0f0;

@mixin transition($prop) {
  transition: $prop 255ms cubic-bezier(0.25, 0.8, 0.25, 1);
}


$zIndexDropdown: 100;