.checkbox {
  display: inline-block;
  height: 30px;
  margin-right: $spacing;
  margin-top: $spacing;
  margin-bottom: $spacing;
  

  &__label {
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 35px;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 26px;
      height: 26px;
      display: inline-block;
      border-radius: $borderRadius;
      background-color: $elementBackground;
      @include transition(background-color);
    }
    &:before {
      content: "";
      position: absolute;
      left: 4px;
      top: 6px;
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: $primary;
      border-radius: $borderRadius  - 1;
      opacity: 0;
      @include transition(opacity);
    }

  }

  &--checked &__label {
    &:before {
      opacity: .8;
    }
  }

  &--disabled &__label {
    cursor: default;
    &:before, &:after {
      opacity: .5;
    }
  }

  &:not(&--disabled) &__label {
    &:hover:after {
      background-color: $elementHoverBackground;
    }
  }

  &--active &__label {
    &:after {
      background-color: $elementHoverBackground;
      box-shadow: $shadowA;
    }
  }

  &__input {
    display: none;
  }

}