.column-view {
  margin: $spacing * 2 0;

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $spacing * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    width: 100%;
    font-weight: 600;
    color: $textDark;
    padding-right: $spacing;

    @media (min-width: 800px) {
      width: 30%;
    }
  }

}