.fab {
  width: 50px;
  height: 50px;

  overflow: hidden;
  border-radius: 25px;
  background-color: rgba($secondary, .8);
  box-shadow: $shadowA;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include transition(all);


  &:hover {
    background-color: rgba($secondary, 1);
    box-shadow: $shadowB;
  }
}