.new-question-form {

  &__table {
    th, td {
      &:first-child {
        width: 80%;
      }
      &:last-child {
        width: 8%;
      }
    }
    td {
      text-align: center;
    }
  }

  &__option-input {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__remove-btn {
    margin-top: 0;
    margin-bottom: 0;
  }

}


.test-schema-question {
  width: 100%;
  margin: $spacing * 2 0;
  border-radius: $borderRadius;
  border: 1px dashed $borderLight;
  padding: $spacing;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__options {
    margin-top: $spacing;
  }

  &__option {
    list-style: none;
    margin-bottom: $spacing;
  }

}